.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242526;
    padding: 1rem 1.5rem;
    max-height: 50px;
}

.navbar-container > * {
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: 600;
    color: #E4E6EB;
}

.navbar-home-container > * {
    text-decoration: none;
    color: #ffffff;
    margin: 0 12px;
}

.navbar-login-container > * {
    margin: 0 1.2rem;
    text-decoration: none;
    color: #ffffff;
}

.navbar-login-success-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-login-success-container > * {
    text-decoration: none;
    color: #ffffff;
    margin: 0 1.2rem;
}

.navbar-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #999999;
    padding: 1px 10px;
    border-radius: 2rem;
}

.navbar-user > span>span{
    color: #ffffff;
}

.navbar-user > span {
    color: #000000;
}

.navbar-register {
    background-color: rgb(150, 150, 150);
    padding: 0.35rem;
    border-radius: 6px;
}

.navbar-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search-container > .navbar-search-input {
    width: 160px;
    height: 26px;
    line-height: normal;
    padding: 2px 6px 2px 28px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.navbar-search-container > .icon-search {
    position: relative;
    right: 154px;
    color: #242526;
}

.navbar-logout{
    text-decoration: none;
    color: #999;
}

.logo-user{
    width: 28px;
    height: 28px;
    border-radius: 28px;
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}